@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

i{
    color: white;
}

/* Navbar   */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* margin-top: 1.3rem; */
    height: 7vh;
    background-color: #2E2323;
    color: white;
}

.navbar-heading{
    margin-right: 7rem;
    margin-top: 0.40rem;
    font-family: "Teko", sans-serif;
}

.navbar-heading h1{
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
}

.navbar-list-items{
    display: flex;
    margin-right: 10rem;
    margin-top: 0.80rem;
}

.navbar-list-items li{
    margin-left: 1.5rem;
    color: white;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition-property: color;
    transition-duration: .5s;
}

.navbar-list-items li:hover{
    color: wheat;
}

.navbar-icons{
    margin-top: 0.10rem;
}

.navbar-icons i{
    font-size: 1.1rem;
    position: relative;
    top: -3px;
    cursor: pointer;
    color: white;
    transition-property: color;
    transition-duration: .5s;
}

.navbar-icons i:hover{
    color: wheat;
}


.navbar-icons #icon-2 {
    margin-left: 2rem;
    margin-top: 13px;
    cursor: pointer;
    color: white;
    transition-property: color;
    transition-duration: .5s;
}

.navbar-icons #icon-2:hover{
    color: wheat;
}


.banner-section{
    background: url('https://github.com/TalhaCodingProjects/Personal-Portfolio-Page/blob/main/Hero%20Section%20Image.png?raw=true') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.banner-content{
    position: relative;;
    top:9rem;
    left: 20rem;
}

.banner-image{
    position: relative;
    left: 20rem;
}

.banner-image img{
    border-radius: 2.5rem;
    width: 120px;
}

.banner-search{
    display: flex;
    justify-content: space-evenly;
    width: 740px;
    height: 40px;
    /* background-color: rgb(228, 85, 2); */
    border-radius: 4px;
}

.banner-search:hover{
    border: 1px solid black;
}

.search-select{
    background-color: #f3f3f3;
    width: 100px;
    color: #2E2323;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    border: none;
}


.search-icon {
    width: 45px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: orange;
    align-items: center;
}

.banner-buttons{
    display: flex;
    margin-left: 15rem;
    margin-top: 0.80rem;
}

.banner-buttons button{
    margin-left: 1rem;
    border: 1px solid white;
    /* color: white; */
    padding: 12px;
    border-radius: 8px;
    background: transparent;
}


a{
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    
}

